:root {
    --text-color-title: #2d314d;
    --text-color-paragraph: #9698a6;

    --background-color-primary: #ffffff;
    --background-color-secondary: #f3f4f6;
    --background-color-tertiary: #fafafa;

    --menu-background: linear-gradient(#2d314dda, #9698a6c7);
    --button-background: linear-gradient(90deg, #31d35c, #2bb7da);

    --body-fontFamily: "Public Sans", sans-serif;
}
