.mainFooter {
    padding: 2em;
    display: grid;
    gap: 10px;
    background-color: var(--text-color-title);

    &__logoContainer {
        margin-bottom: 1.5em;
    }

    &__svg {
        margin: auto;
        display: block;
    }

    &__copyrightSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__copyright {
        text-transform: capitalize;
        color: var(--text-color-paragraph);
    }
}

.socialMedia {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    &__image {
        font-size: 1.3rem;
        color: #ffffff;
    }
}

.pagesLinks {
    &__list {
        display: flex;
        flex-direction: column;

        &Item {
            margin: 0.5em auto;
        }
    }

    &__link {
        text-transform: capitalize;
        color: var(--background-color-primary);
    }
}
